@font-face {
  font-family: rejoy;
  src: url(Rejouice-Headline.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.page1{
  height: 100vh;
  width: 100%;
  position: relative;
}
.mousemover{
  height: 7vw;
  width: 7vw;
  background-color:#FF5F38;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index:1;
  transform: translate(-50%,-50%);
}
video{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
.page1-content{
  height:100%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  z-index: 2;
  color: white;
  font-family: rejoy;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 .page1 nav{
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  font-size: 1.3vw;
}
h2{
   font-weight: 400;
  font-size: 25vw;
  letter-spacing: 5px;
}
.page1 h2 span{
  display: inline-block;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color:white;

}
.page2 nav{
  width: 100%;
  /* background-color: red; */
  padding: 2vw 3vw;
  display: flex;
  font-size:2vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}
.page2 nav .nav1{
  padding: 0 1vw;
}
.page2-content{
  width: 100%;
  /* background-color: yellow; */
  padding: 6vw 8vw;
  font-size: 2vw;
}
.page3{
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
 
}
.page3-content{
  /* background-color: yellow; */
  padding: 3vw 7vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page3-content h5{
  font-size:2vw;
  font-weight: 500;
}
.page3-content h5 span{
  height: 30px;
  width: 60px;
  background-color: black;
  color: white;
  border-radius:10px;
}
.page3-content h1{
  font-size: 3vw;
  margin-top: 2vw;
  position: relative;
}
.page3-content h1::after{
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: black;
    transition:all ease 1s;
}
.page3-content h1:hover::after{
  width:100%;
}

.video-content{
  height: 80vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-content .box{
  height: 100%;
  width: 32.3%;
  /* background-color: red; */
}
.video-content .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page4{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.page4 video{
  height: 100%; 
}
.page4 svg{
  position:absolute;
  height: 80%;
}
.page4 video{
  height: 100%;
  width: 100%;
}
 .page4 #cursor{
  height: 7vw;
  width: 7vw;
  background-color:#FF5F38;
  border-radius: 50%;
  
 z-index: 99;
}
.shutter{
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  color:white;
  background-color: black;
  z-index: 99;
  gap: 20px;
}
.shutter h3{
  font-family: "rejoy";
}

